.leftNavbar {
    background-color: #FFC6AC;
    width: 267px;
    height: 100vh;

 &__option {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    width: 267px;
    height: 30px;
 }

 .active {
    color: #000000;
    background-color: #FFF6DC;
    text-decoration: none;
}
}
